---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const url = "https://obflgqfgayjayvdomvln.supabase.co/rest/v1/cases?select=id&order=id.asc";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9iZmxncWZnYXlqYXl2ZG9tdmxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNTYxNDgsImV4cCI6MjA3ODczMjE0OH0.2PF7mHE_rUWDOXNwtGRKLe9JxPHi3OeX3-zr4d1FVwE"; 

  const options = {
    headers: {
      apikey: key,
      Authorization: `Bearer ${key}`,
    },
  };

  const response = await fetch(url, options);
  const data = await response.json();


  return data.map((post) => ({
    params: { id: post.id.toString() },
  }));
}

const { id } = Astro.params;


const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9iZmxncWZnYXlqYXl2ZG9tdmxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNTYxNDgsImV4cCI6MjA3ODczMjE0OH0.2PF7mHE_rUWDOXNwtGRKLe9JxPHi3OeX3-zr4d1FVwE";
const url = `https://obflgqfgayjayvdomvln.supabase.co/rest/v1/cases?id=eq.${id}`;

const res = await fetch(url, { headers: { apikey: key, Authorization: `Bearer ${key}` } });
const [post] = await res.json();
---

<!-- singelview html -->
<Layout>
    <section class="grid">
      <img src={`https://obflgqfgayjayvdomvln.supabase.co/storage/v1/object/public/images/${post.image}`} alt={post.title} />
      <div>
        <h1 class="title">{post.title}</h1>
        <p>{post.description}</p>
        <svg
        class="wave"
        viewBox="0 0 1440 320"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        >
        <path
        fill="#F2EADA"
        d="M-15,224L1,197.3C160,171,320,117,480,117.3C640,117,800,171,960,176C1120,181,1280,139,1360,117.3L1440,96V320H1360C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320H0Z"
        ></path>
      </svg>
    </div>  
    </section>
    <section>
      <div class="case-info">
        <h2>the case</h2>
        <p>This client has gone through all stages of our Tóki Flow process together with us. Together, we have created a product that is not only sustainable but also combines functionality, aesthetics, and high quality. The result is a solution that reflects the client’s values, meets user needs, and contributes positively to the environment.</p>
      </div>
    </section>
    <section>
      <div class="case-info">
        <h2>the case</h2>
        <p>This client has gone through all stages of our Tóki Flow process together with us. Together, we have created a product that is not only sustainable but also combines functionality, aesthetics, and high quality. The result is a solution that reflects the client’s values, meets user needs, and contributes positively to the environment.</p>
      </div>
    </section>
    <section class="case-sektion">
      <div class="case-info">
        <h2>the case</h2>
        <p>This client has gone through all stages of our Tóki Flow process together with us. Together, we have created a product that is not only sustainable but also combines functionality, aesthetics, and high quality. The result is a solution that reflects the client’s values, meets user needs, and contributes positively to the environment.</p>
      </div>
    </section>
</Layout>


<style>
   body{
  height: 1000px;
  background-color: #F2EADA;
  background-image: url(/public/Vector\ 16.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 1000px;
  background-size: 350px;
  }
  
/* grid layout mobilversion */  
  .grid {
  display: flex;
  flex-direction: column;
  background-color: #22372F;
}

.grid img {
  width: 80%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 20px 60px 20px 60px;
  background-color: #F5EEDE;
  z-index: 1;
  order: 2;

  display: block;     /* vigtigt */
  margin: 0 auto;     /* centrerer billedet */
}


.grid div {
  color: #DEB959;
  text-align: center;
  line-height: 1.5;
  padding: 25px;
  order: 1;
}
/* svg mobil version */
 .wave {
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    height: 180px;
    overflow: hidden;
    line-height: 0;
    margin-top: 100px;
  }
  .wave svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100%;
  }
section {
  display: flex;
  width: 100%;
  justify-content: center; /* centrer indhold */
}

.case-info {
  max-width: 200px;  /* gør boksen smallere */
  width: 90%;
  margin-top: 60px;
  padding: 30px;
  line-height: 1.5;
}

/* Ulige sektioner → højre */
section:nth-of-type(odd) .case-info {
  margin-left: auto;
  margin-right: 0;
}

/* Lige sektioner → venstre */
section:nth-of-type(even) .case-info {
  margin-right: auto;
  margin-left: 0;
}





@media (min-width: 1024px) {
  body{
  height: 1000px;
  background-color: #F2EADA;
  background-image: url(/public/hejehj.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 750px;
  background-size: 300px;
  }
  .grid p{
    padding: 0 100px;
  }
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: start;
  background-color: #22372F;
}
 .wave {
    position: absolute;
    bottom: 130px;
    left: 0;
    width: 100%;
    height: 180px;
    overflow: hidden;
    line-height: 0;
    margin-top: 100px;
  }


  .wave svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 100%;
  }

.grid img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 20px 60px 20px 60px; 
    background-color: #F5EEDE; 
    z-index: 1;
    order: unset;
    margin: 0 40px;
}

  .grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    order: unset;
  }

  .title {
    font-size: 2.5rem;
    color: #DEB959;
    margin: 0;
  }

  p {
    font-size: 1rem;
    line-height: 2;
    color: #DEB959;
  }
 .case-info {
  max-width: 500px; 
  width: 100%;        
  padding: 2rem 5rem; 
}

  .case-info p{
    color: black;
    line-height: 2;
  }
  section {
    display: flex;
  }

  /* ULIGE sektioner → højre */
  section:nth-of-type(odd) .case-info {
    margin-left: auto;
  }

  /* LIGE sektioner → venstre */
  section:nth-of-type(even) .case-info {
    margin-right: auto;
  }

}








</style>

